# Configuration
resolver 127.0.0.11 valid=1y ipv6=off;

# Variables
set $keycloak_url ${NGINX_PROXY_KEYCLOAK_URL};
set $api_url ${NGINX_PROXY_API_URL};
set $hasura_url ${NGINX_PROXY_HASURA_URL};
set $spa_url ${NGINX_PROXY_SPA_URL};

# Default server
server {
    listen 80 default_server;
    server_name _;
    
    # Return no response and close connection
    return 444;
}

# Main server
server {
    listen 80;
    server_name ${GEYSER_HOSTNAME};
    
    include /etc/nginx/includes/health.conf;
    include /etc/nginx/includes/keycloak.conf;
    include /etc/nginx/includes/api.conf;
    include /etc/nginx/includes/hasura.conf;
    include /etc/nginx/includes/spa-dev.conf;
    
    location / {
        root /usr/share/nginx/html;
        try_files $uri $uri/ /index.html =404;
    }
}