# Use Docker's DNS resolver
resolver 127.0.0.11 valid=1y ipv6=off;

# Keycloak server
server {
    listen 80;
    server_name auth.${NGINX_DOMAIN};

    location ~ ^/(realms|resources)/ {
        proxy_pass ${NGINX_PROXY_KEYCLOAK_URL};
        include /etc/nginx/includes/proxy-common.conf;
    }
}

# Keycloak admin server
server {
    listen 80;
    server_name auth-admin.${NGINX_DOMAIN};

    location / {
        proxy_pass ${NGINX_PROXY_KEYCLOAK_URL};
        include /etc/nginx/includes/proxy-common.conf;
    }
}

# API server
server {
    listen 80;
    server_name api.${NGINX_DOMAIN};

    location / {
        proxy_pass ${NGINX_PROXY_API_URL};
        include /etc/nginx/includes/proxy-common.conf;
    }
}

# Client server
server {
    listen 80;
    server_name *.${NGINX_DOMAIN};

    location / {
        proxy_pass ${NGINX_PROXY_DEV_SERVER_URL};
        include /etc/nginx/includes/proxy-common.conf;
    }
}
