# Use Docker's DNS resolver
resolver 127.0.0.11 valid=1y ipv6=off;

# Default server
server {
    listen 80 default_server;
    server_name _;
    
    # Return no response and close connection
    return 444;
}

# Main server
server {
    listen 80;
    server_name ${GEYSER_DOMAIN};
    
    include /etc/nginx/includes/locations/health.conf;
    
    set $keycloak_url ${NGINX_PROXY_KEYCLOAK_URL};
    include /etc/nginx/includes/locations/keycloak.conf;
    
    set $api_url ${NGINX_PROXY_API_URL};
    include /etc/nginx/includes/locations/api.conf;
    
    set $hasura_url ${NGINX_PROXY_HASURA_URL};
    include /etc/nginx/includes/locations/hasura.conf;
    
    set $spa_url ${NGINX_PROXY_SPA_URL};
    include /etc/nginx/includes/locations/spa-dev.conf;
    
    location / {
        root /usr/share/nginx/html;
        try_files $uri $uri/ /index.html =404;
    }
}