# Geyser configuration
MODE=development
NO_AUTH=false
NO_WEB=false
LOG_LEVEL=INFO

# App server
GEYSER_HOSTNAME=localhost

# Passwords
POSTGRES_PASSWORD=postgres_pwd
HASURA_GRAPHQL_ADMIN_SECRET=hasura_pwd
POSTGRES_KC_PASSWORD=postgres_kc_pwd
KC_BOOTSTRAP_ADMIN_PASSWORD=keycloak_pwd
