dist/
node_modules/

/backups/
# todo: remove logs et READMEs?
/logs/*
!/logs/README.md
/nginx/certs/*
!/nginx/certs/README.md
!/nginx/certs/default
/server/keys/

*.tsbuildinfo
*.local
*.bak

.DS_Store
