dist/
node_modules/

/api/keys/

/keycloak/backups/*
!/keycloak/backups/README.md

/logs/*
!/logs/README.md

/nginx/certs/*
!/nginx/certs/README.md
!/nginx/certs/default

/postgres/backups/
!/postgres/backups/README.md
/postgres/migration/

*.tsbuildinfo
*.local
*.bak

.DS_Store
