@import "@/css/quasar.variables.scss";

.custom-popover {
  border: none;
  border-radius: 0;

  .driver-popover-progress-text {
    color: $primary;
  }

  .driver-popover-close-btn {
    border: none;
    color: $primary;
  }

  .driver-popover-navigation-btns button {
    border: 1px solid $primary;
    border-radius: 0;
    color: $primary;
    text-shadow: none;
  }
}

.body--dark .custom-popover {
  background-color: $dark;
  color: white;

  .driver-popover-progress-text {
    color: $secondary;
  }

  .driver-popover-close-btn {
    color: $secondary;
  }

  .driver-popover-navigation-btns button {
    background-color: $dark;
    border: 1px solid $secondary;
    color: $secondary;
  }
}

.large-popover {
  max-width: 720px;
  width: 720px;
}
