[Unit]
Description=Geyser Web Application
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User=arkandias
RemainAfterExit=yes
WorkingDirectory=/home/arkandias/geyser-monorepo
ExecStart=/home/arkandias/geyser-monorepo/scripts/geyser start
ExecStop=/home/arkandias/geyser-monorepo/scripts/geyser stop
Restart=on-failure
RestartSec=10

# Logging configuration
StandardOutput=journal
StandardError=journal
SyslogIdentifier=geyser

# Environment
Environment=GEYSER_RUNNING_AS_SERVICE=true
Environment=GEYSER_LOG_LEVEL=debug

[Install]
WantedBy=multi-user.target