[Unit]
Description=Geyser Webhook Service
After=geyser.service
Requires=geyser.service

[Service]
Type=simple
User=arkandias
WorkingDirectory=/home/arkandias/geyser-monorepo
ExecStart=/home/arkandias/geyser-monorepo/scripts/geyser start-webhook
ExecStopPost=/home/arkandias/geyser-monorepo/scripts/geyser stop-webhook
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target