[Unit]
Description=Geyser Webhook Service
After=geyser.service
Requires=geyser.service

[Service]
Type=simple
User=arkandias
WorkingDirectory=${GEYSER_HOME}
ExecStart=${GEYSER_HOME}/scripts/geyser webhook-start
ExecStopPost=${GEYSER_HOME}/scripts/geyser webhook-stop
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target