[Unit]
Description=Geyser Webhook Service
After=geyser.service
Requires=geyser.service

[Service]
Type=simple
User=<username>
WorkingDirectory=<install dir>
ExecStart=<install dir>/scripts/geyser webhook-start
ExecStopPost=<install dir>/scripts/geyser webhook-stop
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
