{
  "VITE_API_URL": "${VITE_API_URL}",
  "VITE_GRAPHQL_URL": "${VITE_GRAPHQL_URL}",
  "VITE_TENANCY_MODE": "${VITE_TENANCY_MODE}",
  "VITE_BASE_DOMAIN": "${VITE_BASE_DOMAIN}",
  "VITE_ORGANIZATION_KEY": "${VITE_ORGANIZATION_KEY}",
  "VITE_BYPASS_AUTH": "${VITE_BYPASS_AUTH}",
  "VITE_ADMIN_SECRET": "${VITE_ADMIN_SECRET}"
}
